name: Deploy Pages

on:
  workflow_run:
    workflows: ["Build Pirataflix VOD"]
    types:
      - completed

jobs:
  deploy:
    permissions:
      pages: write
      id-token: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/deploy-pages@v4
